<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner" >
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
 <!--          <section id="nav_list">
            <a class="nav_list" href="./events/mchpc2022.html">Events</a><br><br>
            <a class="nav_list" href="{{ site.external_page.group_url }}">Research</a><br><br>
            <a class="nav_list" href="{{ site.external_page.group_url }}">Projects</a><br><br>
            <a class="nav_list" href="{{ site.external_page.group_url }}">People</a>
          </section>
-->

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <!--
        <div width="100%" display="grid">
          <table width="100%" style="border-collapse: collapse; border: none;">
            <tbody>
              <tr>
                <td width="22%" style="border: none;"><a class="nav_list2" href="{{ absolute_url}}/people">People</a></td>
                <td width="22%" style="border: none;"><a class="nav_list2" href="{{ site.external_page.group_url }}">Research</a></td>
                <td width="22%" style="border: none;"><a class="nav_list2" href="{{ site.external_page.group_url }}">Projects</a></td>
                <td width="22%" style="border: none;"><a class="nav_list2" href="{{ absolute_url}}/events/wocc23.html">Events</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      -->
        {{ content }}
      </section>
    </div>


  </body>
</html>
